<template id="ListHighlightColorTemplate">

	<h2>List highlight colour</h2>

	{{!-- QUESTION what is this data-default for? --}}
	<ul class="color-tile-bar" data-default="true">
		{{#each colors}}
			{{#if this.notBlank}}
				<li>
					<input type="radio" name="ColorTile" id="ColorTile-{{this.name}}" class="js-check-changed"
						{{#if this.notNormal}}
							value="{{this.hex}}"
						{{/if}}
						{{#if this.normal}}
							value=""
						{{/if}}
						>
					<label for="ColorTile-{{this.name}}" class="fill-{{this.name}} {{this.lightClassName}}">
						{{#if this.custom}}
							<button type="button" class="color-tile-edit-color">Edit</button>
						{{/if}}
						{{this.name}}
					</label>
				</li>
			{{/if}}
		{{/each}}
	</ul>

	<label for="Opacity" class="opacity-input-label">
		<span>Opacity</span>
		<input type="range" name="Opacity" id="Opacity" min="0" max="1" step="0.01" class="js-check-changed">
		<output name="opacity-value"></output>
	</label>

	<div class="dummy-board fill-trello-blue">

		<div class="dummy-board_body">

			<div class="dummy-board_list fill-normal">
				<p class="dummy-board_list-header">Normal list</p>
				<p class="dummy-board_card">Lorem ipsum dolor sit amet.</p>
				<p class="dummy-board_card">Vivamus id ipsum faucibus, maximus tellus a, placerat urna consequat.</p>
				<p class="dummy-board_card">Nunc vitae odio quis nunc.</p>
				<p class="dummy-board_card">Etiam volutpat sapien at eleifend dignissim consectetur adipiscing elit.</p>
				<p class="dummy-board_card">Phasellus placerat mauris quis mi.</p>
				<p class="dummy-board_add-card"><svg width="16" height="16" role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 3C11.4477 3 11 3.44772 11 4V11L4 11C3.44772 11 3 11.4477 3 12C3 12.5523 3.44772 13 4 13H11V20C11 20.5523 11.4477 21 12 21C12.5523 21 13 20.5523 13 20V13H20C20.5523 13 21 12.5523 21 12C21 11.4477 20.5523 11 20 11L13 11V4C13 3.44772 12.5523 3 12 3Z" fill="currentColor"></path></svg>Add a card</p>
			</div>

			<div class="dummy-board_list dummy-board_demo-list fill-normal">
				<p class="dummy-board_list-header">Highlighted list</p>
				<p class="dummy-board_card">Sit amet sapien feugiat, vestibulum ipsum in, congue leo.</p>
				<p class="dummy-board_card">Aliquam egestas orci at dui.</p>
				<p class="dummy-board_card">Sed maximus massa sed augue condimentum blandit.</p>
				<p class="dummy-board_card">Vivamus quis metus lacinia ante.</p>
				<p class="dummy-board_add-card"><svg width="16" height="16" role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 3C11.4477 3 11 3.44772 11 4V11L4 11C3.44772 11 3 11.4477 3 12C3 12.5523 3.44772 13 4 13H11V20C11 20.5523 11.4477 21 12 21C12.5523 21 13 20.5523 13 20V13H20C20.5523 13 21 12.5523 21 12C21 11.4477 20.5523 11 20 11L13 11V4C13 3.44772 12.5523 3 12 3Z" fill="currentColor"></path></svg>Add a card</p>
			</div>

			<div class="dummy-board_list fill-normal">
				<p class="dummy-board_list-header">Another list</p>
				<p class="dummy-board_card">Vivamus quis metus lacinia ante auctor malesuada eu quis metus.</p>
				<p class="dummy-board_card">Duis sed neque sollicitudin, sagittis purus a, suscipit felis hendrerit.</p>
				<p class="dummy-board_card">Nunc vitae odio quis nunc.</p>
				<p class="dummy-board_card">Id massa dignissim, varius nisi nec, pharetra lorem.</p>
				<p class="dummy-board_card">Pellentesque vel mi ut felis euismod.</p>
				<p class="dummy-board_card">Cras dapibus massa eu magna porta placerat.</p>
				<p class="dummy-board_add-card"><svg width="16" height="16" role="presentation" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 3C11.4477 3 11 3.44772 11 4V11L4 11C3.44772 11 3 11.4477 3 12C3 12.5523 3.44772 13 4 13H11V20C11 20.5523 11.4477 21 12 21C12.5523 21 13 20.5523 13 20V13H20C20.5523 13 21 12.5523 21 12C21 11.4477 20.5523 11 20 11L13 11V4C13 3.44772 12.5523 3 12 3Z" fill="currentColor"></path></svg>Add a card</p>
			</div>

		</div>

	</div>

</template>
